/* common style start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    
}


/* common style end */

/* header section start */

.parent_header_section{
    max-width: 1200px;
    height: 80px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 140px;
}

.menuitem_parent .all_item{
    display: flex;
    list-style: none;
    gap: 40px;
}

.menuitem_parent .all_item li a{
    text-decoration: none;
    color: #555;
    font-size: 20px;
    
}



/* header section end */

/* common button style start */

.common_btn{
    background-color: #2F5BEA;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    
} 

.only_for_register{
    font-size: 20px;
} 




/* common button style end */


/* banner or hero section start */

.banner{
    width: 100%;
    height: 90vh;

    background-image: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.60)),
    url("./images/banner.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_overlay{
    max-width: 850px;
    text-align: center;
}

.banner_overlay h1{
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner_overlay h1 i{
    font-style: italic;
}

.banner_overlay p{
    color: #302f2f;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}



/* banner or hero section end */

/* meet the speaker section start */

.speaker_section{
    max-width: 1200px;
    margin: 80px auto;
}

.speaker_section h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
}

.speaker_parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.speaker_card{
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
    
}



.speaker_card img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
}

.speaker_content{
    padding: 20px;
}

.speaker_content h5{
    color: #2F5BEA;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.speaker_content h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.speaker_content p{
    color: #666;
    font-size: 16px;
}

/* meet the speaker section end */ 

/* pricing section start */

.pricing_section{
    max-width: 1200px;
    margin: 100px auto;
}

.pricing_section h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.pricing_subtitle{
    text-align: center;
    color: gray;
    font-size: 16px;
    margin-bottom: 60px;
}

.pricing_parent{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pricing_card{
    flex: 1;
    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    
}



.active_card{
    background: #122033;
    color: white;
}

.pricing_card h5{
    color: gray;
    font-size: 12px;
    margin-bottom: 10px;
}

.active_card h5{
    color: #d4d9df;
}

.pricing_card h3{
    font-size: 48px;
    margin-bottom: 5px;
}

.pricing_card span{
    color: gray;
    font-size: 14px;
}

.active_card span{
    color: #d4d9df;
}

.pricing_card hr{
    margin: 25px 0;
    border: 1px solid #eeeeee;
}

.active_card hr{
    border-color: #324760;
}

.pricing_card ul{
    margin-left: 20px;
    margin-bottom: 35px;
}

.pricing_card ul li{
    margin-bottom: 12px;
    color: #555;
    line-height: 24px;
}

.active_card ul li{
    color: white;
}

.pricing_card .common_btn{
    width: 100%;
}

.outline_btn{
    background: white;
    color: #2F5BEA;
    border: 2px solid #2F5BEA;
}



/* pricing section end */


/* something is missing section start */

.career_section{

    max-width: 1200px;
    margin: 120px auto;
    padding: 0 20px;

}


.career_section h2{

    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #111827;
    margin-bottom: 20px;

}


.career_subtitle{

    max-width: 650px;
    margin: 0 auto 60px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #6b7280;

}


.career_parent{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}


.career_card{

    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    border: 1px solid #e5e7eb;

    box-shadow: 
    0 10px 30px rgba(0,0,0,0.06);

    transition: all 0.3s ease;

}


.career_card:hover{

    transform: translateY(-10px);

    box-shadow:
    0 20px 40px rgba(0,0,0,0.12);

}


.company_tag{

    display: inline-block;

    padding: 8px 18px;

    background: #111827;

    color:white;

    border-radius:50px;

    font-size:14px;

    font-weight:600;

    margin-bottom:25px;

}



.career_card h3{

    font-size:26px;

    line-height:34px;

    color:#111827;

    margin-bottom:25px;

}



.career_card p{

    font-size:16px;

    color:#4b5563;

    margin-bottom:15px;

    line-height:26px;

}



.career_card strong{

    color:#111827;

}



.career_card .common_btn{

    width:100%;

    margin-top:25px;

    transition:0.3s;

}



.career_card .common_btn:hover{

    transform:scale(1.03);

}



/* Tablet */

@media(max-width:900px){

    .career_parent{

        grid-template-columns:repeat(2,1fr);

    }

}


/* Mobile */

@media(max-width:600px){

    .career_section h2{

        font-size:36px;

    }


    .career_parent{

        grid-template-columns:1fr;

    }


    .career_card{

        padding:25px;

    }

}

/* something is missing section end */

/* footer section start */

.footer_section{
    background-color: #0F1E33;
    padding: 20px 0;
    
}

.footer_parent{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo i{
    font-size:35px;
    color:#3b82f6;
    
}

.social_icon{
    display: flex;
    gap: 20px;
}

.social_icon a{
    width: 45px;
    height: 45px;
    background: #1d2f48;
    color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: .3s;
}

.social_icon a:hover{
    background: #2F5BEA;
}

.footer_section hr{
    max-width: 1200px;
    margin: 20px auto;
    border: .5px solid #2c3d56;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: #b8c1cc;
    font-size: 20px;
}

/* footer section end */
